@import './mixin'
@import './bootstrap.css'

body, html
  height: 100%
  background-image: url('background.jpg')
  
#splash
  position: absolute;
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 10

.viewport
  position: relative
  
  > *
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    
    &:not(.active)
      display: none
      
body.stage 
  > header
    position: absolute
    left: 0
    top: 0
    right: 0

  > article
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    
  > footer
    position: absolute
    left: 0
    bottom: 0
    right: 0

.panel
  vbox()

  > article
    box-flex(1)

    overflow: auto
    -webkit-overflow-scrolling: touch
    
@import './theme'

#form_im input[type="password"]
  font-size: 18px
  color: gray
  margin: 10px
  padding: 10px
  border: 1px solid #999
  -webkit-border-radius: 5px
  width: 260px
  -webkit-box-shadow: inset 0 0 5px #666

#form_im button
  font-size: 16px
  margin: 5px 10px
  padding: 10px
  width: 280px
  -webkit-border-radius: 5px

#logo
  height: 35px
  width: 104px
  display: block
  background: url(IMB_logo.png) no-repeat
  margin-left: auto
  margin-right: auto

.grey
  color: #565656
  border: solid 1px #9d9a9a
  background: #64991e
  background: -webkit-gradient(linear, left top, left bottom, from(#e9eaec), to(#bbbcbe))

.orange
  color: #fef4e9
  border: solid 1px #da7c0c
  background: #f78d1d
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20)